

.about {
  width: 70%;
  float: left;
}
.upcoming h2{
  text-align: center;
}

.upcoming {
  width: 30%;
  float: right;
  background-color: silver;

}


ul {
  list-style: none;
  padding: 0px;
}
.banner img {
  width: 100%;
}

nav{
  background-color: #ddd;
  padding: 8px;
}
nav li {
  display: inline;
  padding: 5px;
}
.images img {
  width: 250px;
  height: 250px;
  padding: 25px;
}
.images h2 {
  text-align: center;
}

footer{
  background-color: #ddd;
  padding: 5px;
}
